<div [ngClass]="{ 'd-none': show === false }">
  <button
    pButton
    id="button-outline"
    type="button"
    pTooltip="{{ tooltipLabel }}"
    [tooltipOptions]="tooltipOptions"
    [tooltipPosition]="tooltipPosition"
    [label]="label"
    [icon]="icon"
    loadingIcon="pi pi-spin pi-spinner"
    [loading]="loading"
    [ngClass]="{ 'p-button-rounded': rounded }"
    [iconPos]="iconPos"
    (click)="click($event)"
    [disabled]="disabled"
    [size]="size()"
    role="button"
  ></button>
</div>
