<div
  [ngClass]="{
    'column-flex': this.labelPos === 'top',
    'row-flex': this.labelPos === 'left',
  }"
>
  <!--[ngStyle]="{
    width: this.labelPos == 'top' ? '240px' : '',
 }"-->
  <div class="d-flex flex-row align-items-center">
    <label
      *ngIf="this.label"
      class="label-input"
      [ngClass]="{
        'label-input-top': this.labelPos === 'top',
        'label-input-left': this.labelPos === 'left',
      }"
    >
      {{ this.label | i18n
      }}<ng-container *ngIf="this.required">*</ng-container>

      <img
        *ngIf="
          (this.flag === 0 || this.flag === 1) && ('BILING' | i18nLangType)
        "
        class="icon-flag"
        src="{{ this.flag | i18nIconFlagName }}"
        alt=""
      />
      <ng-container *ngIf="this.twoPoints()">:</ng-container>
    </label>
  </div>
  <ng-content></ng-content>
</div>
