#button-link.p-button {
  color: var(--color-50);
  background: transparent;
  border: none;
}

#button-link.p-button:enabled:hover {
  background: transparent !important;
  border: none;
  color: var(--color-grey-90);
}

#button-link.p-button:focus {
  box-shadow: none;
}
