gzoom-dropdown, .gzoom-dropdown {
  --gzoom-dropdown-border-radius: 4px;
  --gzoom-dropdown-border-width: 1px;
  --gzoom-dropdown-border-color: #CBD5E1;

  /* Element to display label of selected option. */
  --gzoom-dropdown-label-padding: 0;
  --gzoom-dropdown-label-color: #000;
  --gzoom-dropdown-label-font-size: 14px;
  --gzoom-dropdown-label-font-weight: 400;

  /* Icon (open/close) element. */
  --gzoom-dropdown-icon-padding: 0;
  --gzoom-dropdown-icon-width: 14px;
  --gzoom-dropdown-icon-height: 14px;

  /* An item in the list. */
  --gzoom-dropdown-item-padding: 0;
  --gzoom-dropdown-item-background-color: #fff;
  --gzoom-dropdown-item-font-size: 14px;
  --gzoom-dropdown-item-color: #000;

  --gzoom-dropdown-item-selected-background-color: var(--gzoom-dropdown-item-color);
  --gzoom-dropdown-item-selected-color: var(--gzoom-dropdown-item-background-color);

  --gzoom-dropdown-item-hover-background-color: var(--gzoom-dropdown-item-color);
  --gzoom-dropdown-item-hover-color: var(--gzoom-dropdown-item-background-color);
}

gzoom-dropdown, .gzoom-dropdown {
  .p-dropdown {
    border-radius: var(--gzoom-dropdown-border-radius);
    border-width: var(--gzoom-dropdown-border-width);
    border-color: var(--gzoom-dropdown-border-color);

    .p-dropdown-label {
      padding: var(--gzoom-dropdown-label-padding);
      color: var(--gzoom-dropdown-label-color);
      font-size: var(--gzoom-dropdown-label-font-size) !important;
      font-weight: var(--gzoom-dropdown-label-font-weight);
    }

    .p-dropdown-trigger {
      width: unset;
      padding: var(--gzoom-dropdown-icon-padding);

      .p-icon {
        width: var(--gzoom-dropdown-icon-width);
        height: var(--gzoom-dropdown-icon-height);
      }
    }
  }

  .p-dropdown:not(.p-disabled).p-focus {
    box-shadow: none !important;
    border-color: var(--gzoom-dropdown-border-color) !important;
  }

  .p-dropdown-items-wrapper {
    .p-dropdown-item {
      padding: var(--gzoom-dropdown-item-padding);
      font-size: var(--gzoom-dropdown-item-font-size);
      color: var(--gzoom-dropdown-item-color);
      background-color: var(--gzoom-dropdown-item-background-color);
    }

    .p-dropdown-item.p-highlight {
      background: var(--gzoom-dropdown-item-selected-background-color);
      color: var(--gzoom-dropdown-item-selected-color);
    }

    .p-dropdown-item:hover {
      background: var(--gzoom-dropdown-item-hover-background-color);
      color: var(--gzoom-dropdown-item-hover-color);
    }
  }
}
