gzoom-dashboard-acr {
  gzoom-label {
    --gzoom-label-font-size: small;
    --gzoom-label-font-weight: 400;
  }

  .p-datepicker {
    z-index: 2000;
  }
}

.flex-row-col {
  flex-direction: row
}

.w-50-100 {
  width: 50%
}
@media (width <= 1092px) {
  .w-50-100 {
    width: 100%
  }

  .flex-row-col {
    flex-direction: column
  }
}


.gzoom-datepicker {
  z-index: 2000 !important;
}

.gzoom-dropdown {

}
