gzoom-attachment-modal {
  width: 100%;

  gzoom-modal-header {
    --gzoom-modal-header-height: 48px;
  }

  gzoom-modal-body {
    flex-direction: column;
    gap: 10px;

    .input-group {
      --gzoom-form-input-group-gap: 0;

      > span {
        height: 24px;
        overflow: hidden;
        font-weight: 400;
        color: #07254A;
        font-size: 14px;
        line-height: 24px;

        &.label {
          font-size: 11px;
        }
      }
    }

    .attachment-data {
      display: flex;
      gap: 8px;
      align-items: center;

      > strong {
        font-weight: 700;
        font-size: 12px;
        line-height: 24px;
        vertical-align: middle;
        color: #0A3B70;
      }

      > span {
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        vertical-align: middle;
        color: #262626;
      }

      gzoom-button {
        --gzoom-button-padding: 8px 12px;
        --gzoom-button-border-radius: 5px;
        --gzoom-button-outlined-border-color: #0064B4;
        --gzoom-button-outlined-background-color-hover: #eaeaea;
        --gzoom-button-font-size: 14px;
      }

      gzoom-button.red {
        --gzoom-button-outlined-border-color: #DC2626;
        --gzoom-button-outlined-text-color: #DC2626;
      }
    }
  }
}
