gzoom-textarea {
  --gzoom-textarea-width: 325px;
  --gzoom-textarea-label-width: 360px;
  --gzoom-textarea-height: 60px;
  --gzoom-textarea-padding: 12px;

  --gzoom-textarea-border-radius: 4px;
  --gzoom-textarea-border-width: 1px;
  --gzoom-textarea-border-color: #CBD5E1;

  --gzoom-textarea-font-family: Montserrat, serif;
  --gzoom-textarea-font-weight: 700;
  --gzoom-textarea-font-size: 12px;
  --gzoom-textarea-line-height: 24px;
  --gzoom-textarea-letter-spacing: 0;
  --gzoom-textarea-vertical-align: middle;
  --gzoom-textarea-color: #000;

  --gzoom-input-group-margin: 0;
  --gzoom-input-group-height: 32px;
  --gzoom-input-group-width: unset;

  --gzoom-input-group-label-margin: 0 20px 0 0;
  --gzoom-input-group-label-font-weight: 400;
  --gzoom-input-group-label-font-size: 14px;
  --gzoom-input-group-label-line-height: var(--gzoom-input-group-height);
  --gzoom-input-group-label-color: var(--color-grey-90);
  --gzoom-input-group-label-margin-right: 10px;
  --gzoom-input-group-label-margin-left: 20px;

  --gzoom-input-group-info-height: 16px;
  --gzoom-input-group-info-width: 16px;
  --gzoom-input-group-info-margin: calc((var(--gzoom-input-group-height) - var(--gzoom-input-group-info-height)) / 2.0 - 1px) 0 0 8px;
  --gzoom-input-group-info-background: var(--color-grey-50);
  --gzoom-input-group-info-border-width: 0;
  --gzoom-input-group-info-padding: 0;
  --gzoom-input-group-info-font-size: 12px;
  --gzoom-input-group-flex-direction: 'column';
}

gzoom-textarea {
  textarea {
    width: var(--gzoom-textarea-width);
    height: var(--gzoom-textarea-height);
    padding: var(--gzoom-textarea-padding);

    border-radius: var(--gzoom-textarea-border-radius);
    border-width: var(--gzoom-textarea-border-width);
    border-style: solid;
    border-color: var(--gzoom-textarea-border-color);

    font-family: var(--gzoom-textarea-font-family) !important; // without !important overwritten by layout.css
    font-weight: var(--gzoom-textarea-font-weight) !important; // without !important overwritten by layout.css
    font-size: var(--gzoom-textarea-font-size) !important; // without !important overwritten by layout.css
    line-height: var(--gzoom-textarea-line-height) !important; // without !important overwritten by layout.css
    letter-spacing: var(--gzoom-textarea-letter-spacing);
    vertical-align: var(--gzoom-textarea-vertical-align);
    color: var(--gzoom-textarea-color);
  }
}

.error-message {
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}

/* todo rename */
.tooltip_leftspace {
  padding-left: 15px;
}
