gzoom-status-change-modal {
  width: 100%;

  gzoom-modal-header {
    --gzoom-modal-header-height: 40px;
  }

  gzoom-modal-body {
    min-height: 40px;
    align-items: center;
    gap: 10px;

    gzoom-form {
      --gzoom-form-padding: 0;
      --gzoom-form-background-color: unset;

      textarea {
        height: 100px;
        min-width: 60vh;
      }
    }
  }

  gzoom-modal-footer {
    gap: 16px;
  }
}
