<form *ngIf="this.form" [formGroup]="this.form">
  <p-dropdown
    [virtualScroll]="virtualScroll"
    [virtualScrollItemSize]="virtualScrollItemSize"
    [options]="this.options"
    formControlName="{{ this.controlName }}"
    appendTo="body"
    autoWidth="false"
    [style]="{ width: '100%', minWidth: '100%', maxWidth: '100%' }"
    placeholder="{{ placeholder | i18n }}"
    [showClear]="showClear"
    [filter]="filter"
    [filterBy]="filterby"
    [loading]="loading"
  ></p-dropdown>
</form>
