<div class="card" style="
            border-radius: 1rem;
            display: flex;
            justify-content: center;
            align-items: center;
          ">
  <div class="row align-items-center" style="width: 100%; height: 100%">
    <div id="div1" class="card-body p-4 p-lg-5 text-black justify-content-center align-items-center"
      style="column-gap: 20px">
      <div class="dimHalfFull">
        <form role="form" name="form" (ngSubmit)="f.form.valid && reset()" #f="ngForm"
          (keyup)="f.form.valid && onKeyUp($event)" novalidate>
          
          <div  class="d-flex flex-column align-items-center justify-content-center" >

            <div class="d-flex align-items-center mb-5 pb-1">
              <span class="h1 fw-bold mb-0 titlePrimary">Inserisci la nuova Password</span>
            </div>

            <div class="d-flex flex-column form-outline mb-4 align-items-center" style="width: 100%">
              <div style="width: 250px">
                <label class="label" for="password">New Password</label>
                  <p-password id="password" name="password" [feedback]="false" [(ngModel)]="model.newPassword"
                    [toggleMask]="true"></p-password>
                <div class="form-text" style="height: 20px" aria-label="password is required">
                  <small *ngIf="model.username.dirty &amp;&amp; !model.username.valid" id="password-help"
                    class="p-error block">
                    {{ "Password is required" | i18n }}</small>
                </div>
              </div>
            </div>

            <div class="d-flex flex-column form-outline mb-2 align-items-center" style="width: 100%">
              <div style="width: 250px">
                <label class="label" for="password">Confirm New Password</label>
                <div class="d-flex flex-row">
                  <p-password id="password" name="password" [feedback]="false" [(ngModel)]="model.confirmPassword"
                    [toggleMask]="true"></p-password>
                </div>
                <div class="form-text" style="height: 20px" aria-label="password is required">
                  <small *ngIf="model.username.dirty &amp;&amp; !model.username.valid" id="password-help"
                    class="p-error block">
                    {{ "Password is required" | i18n }}</small>
                </div>
              </div>
            </div>

            <div style=" width: 80%">
              <div *ngIf="error" style="width: 100%" class="alert alert-danger" role="alert">
                {{ error | i18n }}
              </div>
            </div>

            <div class=" mb-4 form-group">
              <p-button label="{{ 'Save' | i18n }}" [disabled]="loading || !f.form.valid" [loading]="loading"
                (onClick)="reset()"></p-button>
            </div>

          </div>

        </form>
      </div>
    </div>

    <div *ngIf="showConfirm" class="card-body p-4 p-lg-5 text-black justify-content-center align-items-center"
      style="column-gap: 20px">
      <div  class="d-flex flex-column align-items-center justify-content-center" >
        <div class="d-grid align-items-center mb-5 pb-1">
          <div class="row">
            <span class="h2 fw-bold mb-1 titlePrimary">Password modificata correttamente! </span>
          </div>
          <div class="row d-flex justify-content-center" style="text-align: center;">
            <a href="/"> Clicca qui per tornare alla pagina di login</a>
          </div>
        </div>
      </div>
  </div>
  
  <div *ngIf="showError" class="card-body p-4 p-lg-5 text-black justify-content-center align-items-center"
  style="column-gap: 20px">
  <div  class="d-flex flex-column align-items-center justify-content-center" >
    <div class="d-grid align-items-center mb-5 pb-1">
      <div class="row">
        <span class="h2 fw-bold mb-1 titlePrimary" >Questo Link per modificare la password è scaduto! </span>
      </div>
      <div class="row d-flex justify-content-center" style="text-align: center;">
        <a href="/"> Clicca qui per tornare alla pagina di login</a>
      </div>
    </div>
  </div>
</div>
</div>