.gzoom-icon {
  display: inline-block;
  height: 1em;
  aspect-ratio: 1 / 1; /* Should match the viewBox of SVG if width:height is not 1:1 */
  background-color: currentColor;

  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;
}

.gzoom-arrow-left {
  mask-image: url('/assets/images/gzoom-icon/gzoom-arrow-left.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-arrow-left.svg');
  aspect-ratio: 16 / 14;
}

.gzoom-bin {
  mask-image: url('/assets/images/gzoom-icon/gzoom-bin.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-bin.svg');
  aspect-ratio: 13 / 14;
}

.gzoom-book {
  mask-image: url('/assets/images/gzoom-icon/gzoom-book.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-book.svg');
  aspect-ratio: 18 / 20;
}

.gzoom-bullseye {
  mask-image: url('/assets/images/gzoom-icon/gzoom-bullseye.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-bullseye.svg');
}

.gzoom-circle-info {
  mask-image: url('/assets/images/gzoom-icon/gzoom-circle-info.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-circle-info.svg');
}

.gzoom-circle-plus {
  mask-image: url('/assets/images/gzoom-icon/gzoom-circle-plus.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-circle-plus.svg');
}

.gzoom-clipboard-check {
  mask-image: url('/assets/images/gzoom-icon/gzoom-clipboard-check.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-clipboard-check.svg');
  aspect-ratio: 18 / 24;
}

.gzoom-comment {
  mask-image: url('/assets/images/gzoom-icon/gzoom-comment.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-comment.svg');
  aspect-ratio: 16 / 14;
}

.gzoom-gauge {
  mask-image: url('/assets/images/gzoom-icon/gzoom-gauge.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-gauge.svg');
}

.gzoom-file-arrow-down {
  mask-image: url('/assets/images/gzoom-icon/gzoom-file-arrow-down.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-file-arrow-down.svg');
  aspect-ratio: 13 / 16;
}

.gzoom-file-arrow-up {
  mask-image: url('/assets/images/gzoom-icon/gzoom-file-arrow-up.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-file-arrow-up.svg');
  aspect-ratio: 12 / 16;
}

.gzoom-print {
  mask-image: url('/assets/images/gzoom-icon/gzoom-print.svg');
  -webkit-mask-image: url('/assets/images/gzoom-icon/gzoom-print.svg');
}
