:root {
  --theme: #{map-get($app-colors, theme)};
  --error: #{map-get($app-colors, error)};
  --text-color: #{map-get($app-colors, text-color)};
  --text-contrast: #{map-get($app-colors, text-contrast)};
  --title-bd-cl: #{map-get($app-colors, title-bd-cl)};
  --default-cl: #{map-get($app-colors, default-cl)};
  --alt-cl: #{map-get($app-colors, alt-cl)};

  --color-primary: #{map-get($app-colors, color-primary)};
  --color-black: #{map-get($app-colors, color-black)};
  --color-white: #{map-get($app-colors, color-white)};
  --color-grey-10: #{map-get($app-colors, color-grey-10)};
  --color-grey-15: #{map-get($app-colors, color-grey-15)};
  --color-grey-20: #{map-get($app-colors, color-grey-20)};
  --color-grey-30: #{map-get($app-colors, color-grey-30)};
  --color-grey-40: #{map-get($app-colors, color-grey-40)};
  --color-grey-50: #{map-get($app-colors, color-grey-50)};
  --color-grey-60: #{map-get($app-colors, color-grey-60)};
  --color-grey-80: #{map-get($app-colors, color-grey-80)};
  --color-grey-90: #{map-get($app-colors, color-grey-90)};

  --color-5: #{map-get($app-colors, color-5)};
  --color-10: #{map-get($app-colors, color-5)};
  --color-20: #{map-get($app-colors, color-20)};
  --color-30: #{map-get($app-colors, color-30)};
  --color-40: #{map-get($app-colors, color-40)};
  --color-50: #{map-get($app-colors, color-50)};
  --color-60: #{map-get($app-colors, color-60)};
  --color-70: #{map-get($app-colors, color-70)};
  --color-80: #{map-get($app-colors, color-80)};
  --color-90: #{map-get($app-colors, color-90)};
  --color-95: #{map-get($app-colors, color-95)};
}
