gzoom-label {
  --gzoom-label-margin: 0;

  --gzoom-label-font-family: Montserrat, serif;
  --gzoom-label-font-weight: 700;
  --gzoom-label-font-size: 20px;
  --gzoom-label-line-height: 20px;
  --gzoom-label-letter-spacing: 0;
  --gzoom-label-vertical-align: middle;
  --gzoom-label-color: #000;
}

gzoom-label {
  label {
    margin: var(--gzoom-label-margin);

    font-family: var(--gzoom-label-font-family);
    font-weight: var(--gzoom-label-font-weight);
    font-size: var(--gzoom-label-font-size);
    line-height: var(--gzoom-label-line-height);
    letter-spacing: var(--gzoom-label-letter-spacing);
    vertical-align: var(--gzoom-label-vertical-align);
    color: var(--gzoom-label-color);
  }
}
