gzoom-comment-modal {
  width: 100%;

  gzoom-modal-header {
    --gzoom-modal-header-height: 48px;
  }

  gzoom-modal-body {
    flex-direction: column;
    gap: 10px;

    span.label {
      font-size: 11px;
    }
  }
}
