gzoom-modal-footer {
  --gzoom-modal-footer-margin: 0;
  --gzoom-modal-footer-padding: 0;
  --gzoom-modal-footer-gap: 10px;
  --gzoom-modal-footer-align-items: center;
  --gzoom-modal-footer-justify-content: center;
  --gzoom-modal-footer-height: unset;

  --gzoom-modal-footer-button-height: 36px;
  --gzoom-modal-footer-button-border-radius: 5px;
  --gzoom-modal-footer-button-font-weight: 700;
  --gzoom-modal-footer-button-font-size: 14px;
}

gzoom-modal-footer {
  margin: var(--gzoom-modal-footer-margin);
  padding: var(--gzoom-modal-footer-padding);
  display: flex;
  align-items: var(--gzoom-modal-footer-align-items);
  justify-content: var(--gzoom-modal-footer-justify-content);
  gap: var(--gzoom-modal-footer-gap);
  height: var(--gzoom-modal-footer-height);

  gzoom-button {
    button {
      --gzoom-button-height: var(--gzoom-modal-footer-button-height);
      --gzoom-button-border-radius: var(--gzoom-modal-footer-button-border-radius);
      --gzoom-button-font-weight: var(--gzoom-modal-footer-button-font-weight);
      --gzoom-button-font-size: var(--gzoom-modal-footer-button-font-size);
    }
  }
}
