gzoom-modal-body {
  --gzoom-modal-body-display: flex;
  --gzoom-modal-body-flex-direction: row;

  --gzoom-modal-body-height: calc(50vh);
  --gzoom-modal-body-margin: 0;
  --gzoom-modal-body-padding: 0;
  --gzoom-modal-body-gap: 16px;
  --gzoom-modal-body-overflow: scroll;

  --gzoom-modal-body-background: unset;
  --gzoom-modal-body-font-size: 14px;
}

gzoom-modal-body {
  display: var(--gzoom-modal-body-display);
  flex-direction: var(--gzoom-modal-body-flex-direction);
  flex-grow: 2;
  margin: var(--gzoom-modal-body-margin);
  padding: var(--gzoom-modal-body-padding);
  gap: var(--gzoom-modal-body-gap);
  overflow: var(--gzoom-modal-body-overflow);

  background: var(--gzoom-modal-body-background);
  font-size: var(--gzoom-modal-body-font-size);

  p-scrollPanel {
    display: flex;

    .p-scrollpanel-content {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0;
      text-align: justify;
      vertical-align: middle;
      color: #262626;
    }
  }

  .tip {
    gap: 16px;
    border-radius: 8px;
    padding: 7px;
    background-color: #F0F7FF;
    display: flex;
    align-items: center;
    width: fit-content;
    color: #0067CB;
    line-height: 24px;

    i.gzoom-icon {
      font-size: 18px;
    }
  }
}
