gzoom-modal-header {
  --gzoom-modal-header-margin: 0;
  --gzoom-modal-header-display: flex;
  --gzoom-modal-header-flex-direction: column;
  --gzoom-modal-header-gap: 10px;

  --gzoom-modal-header-height: unset;
  --gzoom-modal-header-line-height: 20px;

  --gzoom-modal-header-h1-margin: 0;
  --gzoom-modal-header-font-family: Montserrat, sans-serif;
  --gzoom-modal-header-font-weight: 700;
  --gzoom-modal-header-font-size: 20px;
  --gzoom-modal-header-letter-spacing: 0;
  --gzoom-modal-header-vertical-align: middle;
}

gzoom-modal-header {
  display: var(--gzoom-modal-header-display);
  justify-content: center;
  flex-direction: var(--gzoom-modal-header-flex-direction);
  margin: var(--gzoom-modal-header-margin);
  gap: var(--gzoom-modal-header-gap);
  height: var(--gzoom-modal-header-height);

  font-family: var(--gzoom-modal-header-font-family);
  font-weight: var(--gzoom-modal-header-font-weight);
  font-size: var(--gzoom-modal-header-font-size);
  line-height: var(--gzoom-modal-header-line-height);
  letter-spacing: var(--gzoom-modal-header-letter-spacing);
  vertical-align: var(--gzoom-modal-header-vertical-align);

  h1 {
    margin: var(--gzoom-modal-header-h1-margin);
    font-weight: var(--gzoom-modal-header-font-weight);
    font-size: var(--gzoom-modal-header-font-size);
    line-height: var(--gzoom-modal-header-line-height);
  }

  p {
    font-weight: var(--gzoom-modal-header-font-weight);
    font-size: 14px;
    line-height: 100%;
  }
}

