<app-primary-board
  [headArray]="headArray"
  [gridArray]="gridArray"
  [flag]="flag"
  [loading]="loading"
  [collapseSidebar]="true"
  [scrollHeight]="'70vh'"
  [elementToAdd]="elementToAdd"
  [itemsButtonSlideMenu]="itemsButtonSlideMenu"
  (saveNewAndOpen)="saveNewAndOpen($event)"
  (saveAllElement)="saveAllElement($event)"
  (shareDescriptorTable)="descriptionTable($event)"
  (buttonShareItemEvent)="shareItemEvent($event)"
  (resetAllElement)="resetAllElement()"
  (openNew)="openNew()"
  (delete)="delete($event)"
  [stateKey]="stateKey()"
></app-primary-board>
