<app-primary-board
  [headArray]="headArray"
  [gridArray]="gridArray"
  [loading]="loading"
  [collapseSidebar]="true"
  [scrollHeight]="'65vh'"
  [elementToAdd]="elementToAdd"
  (saveNewAndOpen)="saveNewAndOpen($event)"
  (saveAllElement)="saveAllElement($event)"
  (resetAllElement)="resetAllElement()"
  (openNew)="openNew()"
  (delete)="delete($event)"
  (buttonShareItemEvent)="shareItemEvent($event)"
  [itemsButtonSlideMenu]="itemsButtonSlideMenu"
  [stateKey]="stateKey()"
></app-primary-board>
