<gzoom-detail-chart (back)="back()" [backLabel]="'GP_MENU_00626' | i18n">
  <gzoom-chart-detail-prevention-state
    chart
    [loading]="loading"
    [year]="year()"
    [preventionState]="preventionStates()"
  />
  <div options>
    <gzoom-row-flex>
      <gzoom-label label="referenceYear" labelPos="left" twoPoints>
        <p-calendar
          [(ngModel)]="date"
          [maxDate]="maxDate"
          view="year"
          appendTo="body"
          dateFormat="yy"
          (ngModelChange)="setYear($event)"
        />
      </gzoom-label>
      <gzoom-label label="Responsible Unit" labelPos="left" twoPoints>
        <p-dropdown
          [(ngModel)]="selectedOrgUnitId"
          [options]="organizationUnits"
          optionValue="id"
          optionLabel="name"
          appendTo="body"
          placeholder="{{ 'Select' | i18n }}"
          [disabled]="true"
        />
      </gzoom-label>
    </gzoom-row-flex>
  </div>
  <gzoom-table-detail-prevention-state
    table
    [loading]="loadingTable"
    [preventionState]="preventionStates()"
  />
</gzoom-detail-chart>
