gzoom-toaster {
  .p-toast {
    .p-toast-message {
      border-radius: 10px;
      border-width: 2px;
      border-style: solid;
      background-color: #fafafa;
      border-color: #0064B4;
      color: #0059B3;

      .p-toast-message-content {
        .p-icon-wrapper {
          vertical-align: text-top;
        }

        .p-toast-message-icon {
          font-size: unset;

          .p-icon {
            width: 20px;
            height: 20px;
          }
        }

        .p-toast-message-text {
          margin: 0 0 0 10px;
          min-width: 0;
          overflow-wrap: break-word;

          .p-toast-summary {
            font-size: 18px;
            line-height: 24px;
          }
        }

        .p-toast-icon-close {
          width: 20px;
          height: 20px;
        }
      }
    }

    .p-toast-message.p-toast-message-info {
      border-color: #0064B4;
      color: #0059B3;

      .p-toast-message-icon,
      .p-toast-icon-close {
        color: #0059B3;
      }
    }

    .p-toast-message.p-toast-message-success {
      border-color: #3cb400;
      color: #206800;

      .p-toast-message-icon,
      .p-toast-icon-close {
        color: #206800;
      }
    }

    .p-toast-message.p-toast-message-warn {
      border-color: #ffc107;
      color: #bf600b;

      .p-toast-message-icon,
      .p-toast-icon-close {
        color: #bf600b;
      }
    }

    .p-toast-message.p-toast-message-error {
      border-color: #DC2626;
      color: #CC334C;

      .p-toast-message-icon,
      .p-toast-icon-close {
        color: #CC334C;
      }
    }
  }
}
