<gzoom-detail-chart (back)="back()" [backLabel]="'GP_MENU_00626' | i18n">
  <gzoom-chart-detail-prevention-trend
    chart
    [areaId]="areaId()"
    [fromYear]="fromYear()"
    [year]="year()"
    [chartTitle]="chartTitle()"
    [orgUnitId]="orgUnitId()"
  />

  <div options>
    <gzoom-row-flex>
      <gzoom-label label="fromYear" labelPos="left" twoPoints>
        <p-calendar
          [(ngModel)]="fromDate"
          [maxDate]="date"
          view="year"
          appendTo="body"
          dateFormat="yy"
          (ngModelChange)="setFromYear($event)"
        />
      </gzoom-label>
      <gzoom-label label="referenceYear" labelPos="left" twoPoints>
        <p-calendar
          [(ngModel)]="date"
          [minDate]="fromDate"
          [maxDate]="maxDate"
          view="year"
          appendTo="body"
          dateFormat="yy"
          (ngModelChange)="setYear($event)"
        />
      </gzoom-label>
      <gzoom-label label="Responsible Unit" labelPos="left" twoPoints>
        <p-dropdown
          [(ngModel)]="selectedOrgUnitId"
          [options]="organizationUnits"
          optionValue="id"
          optionLabel="name"
          appendTo="body"
          placeholder="{{ 'Select' | i18n }}"
          [disabled]="true"
        />
      </gzoom-label>
      <gzoom-label label="area" labelPos="left" twoPoints>
        <p-dropdown
          [(ngModel)]="selectedArea"
          [options]="aree()"
          [style]="{ minWidth: '300px', maxWidth: '80vw' }"
          appendTo="body"
          (onChange)="setAreaId($event.value)"
        />
      </gzoom-label>
    </gzoom-row-flex>
  </div>
  <gzoom-table-detail-prevention-trend
    table
    [areaId]="areaId()"
    [year]="year()"
    [orgUnitId]="orgUnitId()"
  />
</gzoom-detail-chart>
