<app-primary-board
  [headArray]="headArray"
  [gridArray]="gridArray"
  [buttonBack]="false"
  [loading]="loading"
  [collapseSidebar]="true"
  [scrollHeight]="'70vh'"
  [flag]="flag"
  [elementToAdd]="elementToAdd"
  (saveNewAndOpen)="saveNewAndOpen($event)"
  (saveAllElement)="saveAllElement($event)"
  (resetAllElement)="resetAllElement()"
  (openNew)="openNew()"
  (clickButtonDetailsEvent)="toDetail($event)"
  (buttonShareItemEvent)="shareItemEvent($event)"
  (delete)="delete($event)"
  stateKey="uom"
></app-primary-board>
