.clickLink:hover {
  cursor: pointer;
}

.container {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-evenly;
  /* align-items: center; */
}

.doubleRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#zeroPadding {
  padding: 0px 0px;
}

.elementDoubleRow {
  padding: 10px;
}

#firstElDoubleRow {
  border-bottom: 1px solid grey;
}

.checkBoxTableCellHeader {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
}

.checkBoxTableCell {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  justify-content: center;
}

.multipleRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#rowMultipleEl {
  height: 5em;
  padding: 10px;
  border-bottom: 1px solid rgb(165, 164, 164);
  display: flex;
  align-items: center;
}

.header-title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title-label {
  margin-top: 15px;
  font-size: small;
}

.body-row {
  font-size: small;
}

.emptyRow {
  font-size: small;
  padding: 10px;
  text-align: center;
}

@media (max-width: 1400px) {
  .min-w {
    min-width: 15vw !important;
  }
}

::ng-deep .p-autocomplete-loader {
  display: none !important;
}

td {
  padding: 0.3rem 0.4rem !important;
}

.p-button .p-button-icon-only {
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid var(--title-bd-cl);
  @if var(--theme) == "high_contrast" {
    background: var(--default-cl);
    color: var(--text-color);
  } @else {
    background: var(--alt-cl) !important;
    color: var(--default-cl) !important;
  }
  margin: 0.5em;
}
