<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.mapsgroup.gzoom.mybatis.mapper.DataSourceMapper">


    <resultMap id="dataSourceExResultMap" type="it.mapsgroup.gzoom.mybatis.dto.DataSourceEx">
        <id property="dataSourceId" column="data_source_id" jdbcType="VARCHAR"/>
        <result column="data_source_type_id" property="dataSourceTypeId" jdbcType="VARCHAR"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="last_updated_stamp" property="lastUpdatedStamp" jdbcType="TIMESTAMP"/>
        <result column="last_updated_tx_stamp" property="lastUpdatedTxStamp" jdbcType="TIMESTAMP"/>
        <result column="created_stamp" property="createdStamp" jdbcType="TIMESTAMP"/>
        <result column="created_tx_stamp" property="createdTxStamp" jdbcType="TIMESTAMP"/>
        <result column="val_mod_id" property="valModId" jdbcType="VARCHAR"/>
        <result column="last_modified_by_user_login" property="lastModifiedByUserLogin" jdbcType="VARCHAR"/>
        <result column="created_by_user_login" property="createdByUserLogin" jdbcType="VARCHAR"/>

        <result column="DST_DESCRIPTION" property="dataSourceType.description" jdbcType="VARCHAR"/>
        <result column="E_DESCRIPTION" property="enumeration.description" jdbcType="VARCHAR"/>
        <result column="E_DESCRIPTION_LANG" property="enumeration.descriptionLang" jdbcType="VARCHAR"/>

    </resultMap>

    <select id="getDataSourceEx" resultMap="dataSourceExResultMap" parameterType="java.util.Map">
       SELECT DS.*,
       DST.DESCRIPTION AS "DST_DESCRIPTION" ,
       E.DESCRIPTION AS "E_DESCRIPTION",
       E.DESCRIPTION_LANG AS "E_DESCRIPTION_LANG"
       FROM DATA_SOURCE DS
        JOIN DATA_SOURCE_TYPE DST ON DST.DATA_SOURCE_TYPE_ID = DS.DATA_SOURCE_TYPE_ID
        JOIN ENUMERATION E ON E.ENUM_ID  = DS.VAL_MOD_ID
        WHERE E.ENUM_TYPE_ID = 'VAL_MOD'
   </select>

</mapper>