<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="it.mapsgroup.gzoom.mybatis.mapper.TsHolidaysDatesMapper">

    <select id="getTsHolidayDatesByTimesheetId" resultMap="tsHolidaysDatesResultMap" parameterType="java.util.Map">
        SELECT * FROM TS_HOLIDAYS_DATES WHERE TS_HOLIDAYS_DATES.TIMESHEET_ID = #{timesheetId}
   </select>

</mapper>