gzoom-result-message-modal {
  width: 100%;

  gzoom-modal-header {
    --gzoom-modal-header-height: 48px;
  }

  gzoom-modal-body {
    flex-direction: column;
    gap: 10px;

    p {
      margin: 0;

      &.error {
        color: red;
      }

      &.warning {
        color: #FF5F00;
      }
    }
  }
}
