gzoom-contradictory-modal {
  width: 100%;

  gzoom-modal-header {
    --gzoom-modal-header-height: 48px;
  }

  gzoom-modal-body {
    gzoom-form {
      --gzoom-form-label-font-size: 14px;
    }

    span.label {
      font-size: 14px;
    }
  }
}
