gzoom-data-integration-modal {
  width: 100%;

  gzoom-modal-header {
    > div {
      height: 24px;
      display: flex;
      align-items: center;
    }

    h1 {
      height: 48px;
      display: flex;
      align-items: center;
    }
  }

  gzoom-modal-body {
    span.label {
      font-size: 11px;
    }
  }

  gzoom-modal-footer {
    padding: 8px 0;
  }
}
