.input_form_login {
  min-height: calc(1.5em + 1rem + 2px);
  border-radius: 0.25rem;
  border: 1px solid #ced4da;
  width: 100%;
}

.input-flex {
  display: flex;
  flex-direction: column;
}

.label {
  padding-left: 3px;
  font-size: small;
}

:host ::ng-deep .p-password input {
  width: 250px;
}

.dimHalfFull {
  width: 50%;
}

@media only screen and (max-width: 600px) {
  .logo {
    display: none !important;
  }

  .dimHalfFull {
    width: 100%;
  }
}
