.p-button {
  border-radius: 10px;
  font-weight: bold;
  font-size: 1em;
  border: 1px solid var(--title-bd-cl);
  @if var(--theme) == "high_contrast" {
    background: var(--default-cl);
    color: var(--text-color);
  } @else {
    background: var(--alt-cl) !important;
    color: var(--default-cl) !important;
  }
  margin: 0.5em;
}

button.p-element.p-ripple.p-datepicker-trigger.p-button {
  border: none;
  background: transparent;
  flex-basis: content;
  margin: 0;
  margin-left: 0.75em;
}
