.single_col { // todo rename classes
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
}

.double_col {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

.flex_row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;

  label {
    min-width: 80px;
    margin-right: 0.5rem;
  }

  input {
    flex-grow: 1;
    width: 100%;
  }
}

.flex_row_radio_group {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 11fr
}

.flex_col {
  display: flex;
  flex-direction: column;
}

.single_col_vertical_spacer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  border-left: 1px solid #ccc;
  padding-left: 30px;
}

.error-message {
  display: flex;
  flex-direction: column;
  color: red;
  font-size: 0.9em;
  margin-top: 4px;
}
