gzoom-portal-header {
  .info-section {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    gap: 10px;

    h2 {
      font-size: 36px;
      font-weight: 700;
      color: #003556;
      margin-bottom: 10px;
    }

    > div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-end;

      > div {
        display: flex;
        flex-direction: column;
      }

      div.info {
        > div {
          display: flex;
          align-items: center;
          gap: 8px;
          color: #003556;
          font-size: 14px;
          margin: 0 0 5px 0;
          font-weight: 400;

          strong {
            font-weight: 700;
          }

          gzoom-dropdown {
            --gzoom-dropdown-label-padding: 0 2px 0 4px;
            --gzoom-dropdown-label-color: #003556;
            --gzoom-dropdown-icon-padding: 0 4px 0 2px;
          }
        }
      }

      div.score {
        gap: 24px;

        h3 {
          display: flex;
          align-items: center;
          font-size: 24px;
          line-height: 24px;
          font-weight: 400;
          gap: 16px;
          margin: 0;

          strong {
            font-weight: 700;
          }

          gzoom-tooltip {
            --gzoom-tooltip-height: 24px;
          }
        }

        .buttons {
          display: flex;
          gap: 10px;
        }
      }
    }
  }
}
