gzoom-tooltip {
  --gzoom-tooltip-height: 21px;
}

gzoom-tooltip {
  p-button {
    opacity: 1;
    display: inline-block;
    line-height: var(--gzoom-tooltip-height);

    button {
      background-color: #fff !important;
      color: #475569;
      padding: 0;
      opacity: 1;
      border: none !important;
      vertical-align: baseline;
    }
  }
}

.gzoom-tooltip-text {
  .p-tooltip-text {
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    background-color: #616161E5;
  }

  .p-tooltip-arrow {
    display: none;
  }
}
.gzoom-tooltip-text.p-tooltip-left {
  .p-tooltip-text {
    width: 300px;
    margin-left: -87px;
    margin-top: 74px;
  }
}
.gzoom-tooltip-text.p-tooltip-right {
  .p-tooltip-text {
    width: 300px;
    margin-top: 8px;
  }
}
