.clickLink:hover {
    cursor: pointer;
}

.container {
    flex-direction: row;
    justify-content: space-evenly;
}

.doubleRow {
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#zeroPadding {
    padding: 0px 0px;
}

.elementDoubleRow {
    padding: 10px;
}

#firstElDoubleRow {
    border-bottom: 1px solid grey;
}

.checkBoxTableCellHeader{
    display: flex;
    align-items: center;
    margin-left: 5px; 
    margin-right: 5px;
}

.checkBoxTableCell{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 3vw;
}

.multipleRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#rowMultipleEl {
    height: 5em;
    padding: 10px;
    border-bottom: 1px solid rgb(165, 164, 164);
    display: flex;
    align-items: center;
}

.header-title {
    font-family: 'Roboto', sans-serif;
    display: flex;
}


.header-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
}

.body-row {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    display: flex;
}

.emptyRow {
    font-size: small;
    padding: 10px;
    text-align: center;
}

.footer-row{
    display: flex;
}




tr:nth-child() {
    background: #c0c0c0 !important
  }

.underline {

border-bottom: 2px solid black;
}

  
.truncate-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-height: 100px;
    width: 100%; 
    white-space: normal;
  }
  
  @media (max-width: 1400px) {
    .min-w{
        min-width: 8vw;
       }
  }
