.traslate {
  transform: translate3d(-110px, 42.4px, 0px) !important;
}

.navbar-title {
  color: var(--color-white);
  z-index: 1;
  margin-top: 0.5rem;
  padding-left: 9.2em;
}

@media (max-width: 800px) {
  .navbar-collapse {
    flex-grow: 0;
  }
}

.navbar-expand-sm {
  flex-wrap: nowrap !important;
}
