gzoom-context-data-modal {
  width: 100%;

  gzoom-modal-header {
    padding-bottom: 16px;
  }

  gzoom-modal-body {
    height: 550px;

    > div { /* container for all notes */
      display: flex;
      padding: 0 4px 0 0;
      width: 100%;
      flex-direction: column;
      gap: 24px;

      div {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;

        margin-bottom: 24px;
        overflow: visible;

        h1 { /* note title */
          font-weight: 700;
          font-size: 16px;
          line-height: 100%;
          vertical-align: middle;
          color: #054787;
        }

        > div {
          padding-left: 16px;
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: center;
          gap: 8px;

          h2 { /* opportunità, vincoli */
            font-weight: 700;
            font-size: 14px;
            line-height: 100%;
            vertical-align: middle;
            color: #64748B;
          }

          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 24px;
            text-align: justify;
            vertical-align: middle;
            color: #262626;
          }
        }
      }
    }
  }

  gzoom-modal-footer {
    padding: 16px 0;
    gap: 10px;
  }
}
